version: "3" # verison
services: # services to run inside docker componse
  redis-server: # service name
    image: "redis" # image to use
  node-app:
    build: . # building an image
    ports:
      - "8081:8081" # port mapping- [local:container]
